page {
  height: 100%;
  font: normal $--font-size-base/1.5 'Chinese Quote', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
button[size='mini'] {
  font-size: $--font-size-extra;
}

button[type='primary'] {
  color: #ffffff;
  background-color: $--color-primary;
  &.button-hover {
    background-color: $--color-primary-lighter;
  }
}

button[type='primary'][plain] {
  color: $--color-primary;
  border: 1px solid $--color-primary;
  background-color: transparent;
}
