@include b(common) {
  @include e(row) {
    display: flex;
    flex-direction: row;
  }
  @include e(col) {
    flex: 1;
    @include when(fixed) {
      flex: none;
    }
  }
  @include e(btn) {
    @include m(big) {
      width: 60%;
      margin-top: 50px;
    }
  }
}
