@mixin utils-user-select($value) {
  -moz-user-select: $value;
  -webkit-user-select: $value;
  -ms-user-select: $value;
}

@mixin utils-clearfix {
  $selector: &;

  @at-root {
    #{$selector}::before,
    #{$selector}::after {
      display: table;
      content: '';
    }
    #{$selector}::after {
      clear: both;
    }
  }
}

@mixin utils-vertical-center {
  $selector: &;

  @at-root {
    #{$selector} > * {
      display: inline-block;
      vertical-align: middle;
    }
    #{$selector}::after {
      content: '';
      height: 100%;
    }
  }
}

@mixin utils-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


@mixin list-item() {
  padding: 15px 10px;
  color: $--color-text;
  font-size: $--font-size-extra;
  border-bottom: 0.5px solid $--color-border;
  @include when(hover) {
    background: $--color-table-header;
  }
}
